//
// HEADER
//

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 480px;
  background: $darkestGrey url('../images/header-coffee.jpg') no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: center;

  @media screen and (orientation: landscape) {
    height: 140vh;
  }

  @media screen and (min-width: 40.063em) and (orientation: portrait) {
    height: 100vh;
  }

  @include bp(medium) {
    height: 100vh;
    background-position: 50% 55%;
  }
}

.headerSubpage {
  height: $headerHeight;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1rem;
  background: $white;
  border-bottom: 1px solid $lightestGrey;
  transition: all 0.2s ease-in-out;
  z-index: 99;
  will-change: transform;
  @extend %clearfix;
}

.headerSubpage-transparent {
  background: transparent;
  border-bottom: 0;
}

.header--container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
  width: 100%;
}

.header--title {
  margin: 3vh 0 1vh;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.5);
  @include font-size(26px);
}

.header--title-subpage {
  margin: 1rem 0;
  text-transform: none;
  @include font-size(32px);

  @include bp(large) {
    @include font-size(40px);
  }
}

.header--subTitle {
  margin: 0;
  color: #563d29;
  font-family: $robotoSlab;
  text-transform: lowercase;
  opacity: 0.8;
  @include font-size(24px);

  @include bp(medium) {
    @include font-size(36px);
  }
}

.header--logo {
  display: inline-block;
  border: 0;
  line-height: 0;
  width: 160px;
  height: 160px;

  @include bp(large) {
    width: 200px;
    height: 200px;
  }
}

.header--logo-subpage {
  float: left;
  width: auto;
  height: auto;

  svg {
    width: 50px;
    height: 50px;

    path {
      fill: $darkerGrey;
      transition: fill 0.2s ease-in-out;

      .headerSubpage-transparent & {
        fill: $white;
      }
    }
  }

  &:hover svg path {
    fill: $orange;
  }


}

.banner {
  height: 64vh;
  background: #543640 url('../images/header-about.jpg') no-repeat;
  background-size: cover;
}

.header--arrow {
  display: none;

  @include bp(large) {
    display: block;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background: url('../images/chevron-down.svg') no-repeat;
    background-size: contain;
    opacity: 0.7;
    border: 0;

    //TODO move to placeholder
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

.bounce {
  animation: bounce 3s infinite 2s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}
