
//
// HEADER
//

.header {
  height: 100vh;
  padding: 18vh 0 0;
  background: #543640 url('../images/header.jpg') no-repeat;
  background-position: -500px bottom;
  text-align: center;
  
  @media screen and (orientation: landscape) { 
    height: 140vh;
    padding: 25vh 0 0;
    background-position: -330px bottom;
  }

  @media screen and (min-width: 40.063em) and (orientation: portrait) { 
    height: 100vh;
    padding: 25vh 0 0;
  }

  @include bp(medium) {
    height: 100vh;
    background-position: -200px bottom;
  }

  @include bp(large) {
    padding: 16vh 0 0;
    background-position: 0 bottom;
  }
}

.headerSubpage {
  height: $headerHeight;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1rem;
  background: $white;
  border-bottom: 1px solid $lightestGrey;
  transition: all 0.2s ease-in-out;
  z-index: 99;
  will-change: transform;
}

.headerSubpage-transparent {
  background: transparent;
  border-bottom: 0;  
}

.header--title {
  margin: 3vh 0 1vh;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.7);
  @include font-size(30px);
}

.header--title-subpage {
  margin: 1rem 0;
  text-transform: none;
  @include font-size(36px);

  @include bp(large) {
    @include font-size(44px);
  }
}

.header--subTitle {
  margin: 0 0 1rem;
  color: #70454a;
  font-family: $robotoSlab;
  text-transform: lowercase;
  opacity: 0.7;
  @include font-size(24px);

  @include bp(medium) {
    color: #513640;
    @include font-size(36px);
  }

  @include bp(large) {
    @include font-size(40px);
  }
}

.header--logo {
  display: inline-block;
  border: 0;
  line-height: 0;

  svg {
    width: 160px;
    height: 160px;
    opacity: 0.7;

    @include bp(large) {
      width: 200px;
      height: 200px;
    }

    path {
      fill: $orange;
    }
  }
}

.header--logo-subpage {
  float: left;

  svg {
    width: 50px;
    height: 50px;

    path {
      fill: $darkGrey;
      transition: fill 0.2s ease-in-out;

      .headerSubpage-transparent & {
        fill: $white;
      }
    }
  }

  &:hover svg path {
    fill: $orange;
  }


}

.banner {
  height: 64vh;
  background: #543640 url('../images/header-about.jpg') no-repeat;
  background-size: cover;
}
