//
// POST
//

.posts > .post {
  padding-bottom: 4rem;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post--title {
  margin-bottom: 0.5rem;
}

.post--date {
  color: $lightGrey;
  margin-bottom: 1.75rem;
  @include font-size(14px);
}

.post--image {
  margin: 1rem 0;
}

blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid $grey;
  padding: 0.1em 1em;
  font-style: italic;

  p {
    margin: 0;
    color: $lightGrey;
  }
}
