.icon-social {
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}

.icon-slurpee {
	width: 29px;
	height: 51px;
}

.icon-coffee {
	width: 32px;
	height: 42px;
}

.icon-drink {
	width: 30px;
	height: 38px;
}
