
//
// VARIABLES
//

// Colors
$blue: #4183C4; 
$orange: #D97A4D;

// Greys
$black: #000;
$darkestGrey: #222;
$darkerGrey: #333;
$darkGrey: #444;
$grey: #666;
$lightGrey: #999;
$lighterGrey: #bbb;
$lightestGrey: #ddd;
$white: #fdfdfd;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$fontHeader: 'Roboto', Helvetica, Arial, sans-serif;
$fontBody: 'Merriweather', serif;
$robotoSlab: 'Roboto Slab', serif;

// Sizes
$headerHeight: 83px;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

//MIXINS

//font size
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin font-size($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

//media queries
@mixin bp($point) {
  
  $bp-small: "only screen and (max-width: 40em)";
  $bp-medium: "(min-width: 40.063em)";   // 641px
  $bp-large: "(min-width: 64.063em)";    // 1025px
  $bp-xlarge: "(min-width: 90.063em)";   // 1441px
  $bp-xxlarge: "(min-width: 120.063em)"; // 1921px

  @if $point == xxlarge{
    @media #{$bp-xxlarge} { @content; }
  }
  @else if $point == xlarge {
    @media #{$bp-xlarge} { @content; }
  }
  @else if $point == large {
    @media #{$bp-large} { @content; }
  }
  @else if $point == medium {
    @media #{$bp-medium}  { @content; }
  }

}