<footer class="footer">
  <div class="container">
    <ul class="socialNav">
      <li>
        <a href="mailto:{{ site.footer-links.email }}" title="Email Me">
          <div class="icon-social icon-email"></div>
        </a>
      </li>
      <li>
        <a
          href="http://twitter.com/{{ site.footer-links.twitter }}"
          title="Twitter"
          target="_blank"
          rel="noreferrer noopener"
        >
          <div class="icon-social icon-twitter"></div>
        </a>
      </li>
      <li>
        <a
          href="http://github.com/{{ site.footer-links.github }}"
          title="Github"
          target="_blank"
          rel="noreferrer noopener"
        >
          <div class="icon-social icon-github"></div>
        </a>
      </li>
    </ul>
    © Mitch Gavan 2021
  </div>
</footer>
