<footer class="footer">
  <div class="container">
    <ul class="socialNav">
      <li>
        <a href="mailto:{{ site.footer-links.email }}" title="Email Me">
          <div class="icon-social icon-email"></div>  
        </a>
      </li>
      <li>
        <a href="http://twitter.com/{{ site.footer-links.twitter }}" title="Twitter" target="_blank">
          <div class="icon-social icon-twitter"></div>  
        </a>
      </li>
      <li>
        <a href="http://instagram.com/{{ site.footer-links.instagram }}" title="Instagram" target="_blank">
          <div class="icon-social icon-instagram"></div>  
        </a>
      </li>
    </ul>
    © Mitch Gavan 2016
  </div>  
</footer>

<script src="{{ site.baseurl }}/scripts/build/scripts.min.js" async></script>