
.icon-coffee {
	background-image: url('grunticon/png/icon-coffee.png');
	background-repeat: no-repeat;
}

.icon-drink {
	background-image: url('grunticon/png/icon-drink.png');
	background-repeat: no-repeat;
}

.icon-slurpee {
	background-image: url('grunticon/png/icon-slurpee.png');
	background-repeat: no-repeat;
}