html, body, div, span, h1, h2, p, pre, a, code, ul, li, article, header, nav{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; font-size: 100%; font: inherit; vertical-align: baseline; }
article, header, nav{ display: block; }
body{ line-height: 1; }
 ul{ list-style-type: none; list-style-position: initial; list-style-image: initial; }
*{ box-sizing: border-box; }
html{ font-size: 100%; }
body{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(253, 253, 253); font-family: Merriweather, serif; font-weight: 300; font-size: 1rem; line-height: 2; color: rgb(68, 68, 68); background-position: initial initial; background-repeat: initial initial; }
h1, h2{ font-family: Roboto, Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); font-weight: 300; line-height: 1.25; margin-top: 0px; margin-right: 0px; margin-bottom: 1.625rem; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
h1 a{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
h1{ font-size: 2.5rem; }
h1 a{ color: inherit; }
h2{ font-size: 24px; }
p{ margin-top: 0px; margin-right: 0px; margin-bottom: 1.625rem; margin-left: 0px; }
a{ color: inherit; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(187, 187, 187); text-decoration: none; cursor: pointer; }
ul{ margin-top: 15px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; padding-left: 30px; }
ul{ list-style-type: disc; }
.container{ zoom: 1; width: auto; max-width: 740px; float: none; display: block; margin-right: auto; margin-left: auto; padding-left: 1rem; padding-right: 1rem; }
.container::before, .container::after{ content: ''; display: table; }
.container::after{ clear: both; }
.main {
    padding: 3.5rem 0
}
@media(min-width:40.063em) {
    .main {
        padding: 5.5rem 0
    }
}
.header {
    height: 100vh;
    padding: 18vh 0 0;
    background: #543640 url(../images/header.jpg) no-repeat;
    background-position: -460px bottom;
    text-align: center
}
@media screen and (orientation: landscape) {
    .header {
        height: 140vh;
        padding: 25vh 0 0;
        background-position: -330px bottom
    }
}
@media screen and (min-width: 40.063em) and (orientation: portrait) {
    .header {
        height: 100vh;
        padding: 25vh 0 0
    }
}
@media(min-width:40.063em) {
    .header {
        height: 100vh;
        background-position: -200px bottom
    }
}
@media(min-width:64.063em) {
    .header {
        padding: 16vh 0 0;
        background-position: 0 bottom
    }
}
.headerSubpage {
    height: 83px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1rem;
    background: #fdfdfd;
    border-bottom: 1px solid #ddd;
    transition: top .2s ease-in-out;
    will-change: transform
}
.header--title {
    margin: 3vh 0 1vh;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .7);
    font-size: 30px;
    font-size: 1.875rem
}
.header--title-subpage {
    margin: 1rem 0;
    text-transform: none;
    font-size: 36px;
    font-size: 2.25rem
}
@media(min-width:64.063em) {
    .header--title-subpage {
        font-size: 44px;
        font-size: 2.75rem
    }
}
.header--subTitle {
    margin: 0 0 1rem;
    color: #70454a;
    font-family: Roboto Slab, serif;
    text-transform: lowercase;
    opacity: .7;
    font-size: 24px;
    font-size: 1.5rem
}
@media(min-width:40.063em) {
    .header--subTitle {
        color: #513640;
        font-size: 36px;
        font-size: 2.25rem
    }
}
@media(min-width:64.063em) {
    .header--subTitle {
        font-size: 40px;
        font-size: 2.5rem
    }
}
.header--logo {
    display: inline-block;
    border: 0;
    line-height: 0
}
.header--logo svg {
    width: 160px;
    height: 160px;
    opacity: .7
}
@media(min-width:64.063em) {
    .header--logo svg {
        width: 200px;
        height: 200px
    }
}
.header--logo svg path {
    fill: #d97a4d
}
.header--logo-subpage {
    float: left
}
.header--logo-subpage svg {
    width: 50px;
    height: 50px
}
.header--logo-subpage svg path {
    fill: #444;
    transition: fill .2s ease-in-out
}
.header--logo-subpage:hover svg path {
    fill: #d97a4d
}
.nav {
    position: absolute;
    top: 1.5rem;
    right: 1rem
}
@media(min-width:40.063em) {
    .nav {
        right: 1.25rem
    }
}
.nav--item {
    display: inline-block;
    margin: 0 0 0 1.125rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    color: #333
}
.nav--item:hover {
    color: #d97a4d
}
.work .nav--item-work,
.blog .nav--item-blog,
.wheredoibegin .nav--item-about {
    color: #d97a4d
}
.posts > .post{ padding-bottom: 4rem; }
.posts > .post:last-child{ padding-bottom: 1em; border-bottom-style: none; border-bottom-width: initial; border-bottom-color: initial; }
.highlight{ background-color: rgb(239, 239, 239); padding-top: 7px; padding-right: 7px; padding-bottom: 7px; padding-left: 10px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); box-shadow: rgba(0, 0, 0, 0.0976562) 3px 3px; margin-top: 20px; margin-right: 0px; margin-bottom: 20px; margin-left: 0px; overflow-x: scroll; overflow-y: scroll; }
code{ font-family: 'Bitstream Vera Sans Mono', Courier, monospace; }
.highlight .s{ color: rgb(42, 161, 152); }
.highlight .na{ color: rgb(147, 161, 161); }
.highlight .nt{ color: rgb(38, 139, 210); }
.icon-slurpee{ width: 29px; height: 51px; }
.icon-coffee{ width: 33px; height: 42px; }
.icon-drink{ width: 30px; height: 38px; }