
//
// HEADER
//

.header {
  padding: 4rem 1rem;
  border-bottom: 1px solid $lightGray;
  text-align: center;
}

.header--logo {

}

.header--title {
  margin: 1.75rem 0 0.125rem;
  text-transform: uppercase;
  color: $darkerGray;
  @include font-size(24px);
}

.header--subTitle {
  margin: 0 0 1rem;
  color: $gray;
  font-family: $robotoSlab;
  text-transform: lowercase;
  @include font-size(20px);
}