
//
// HEADER
//

.header {
  height: 100vh;
  padding: 15vh 0;
  background: #543640 url('images/header.jpg') no-repeat;
  background-position: -460px bottom;
  text-align: center;

  @media screen and (min-width: 40.063em) and (orientation: portrait) { 
    padding: 25vh 0;
  }

  @include bp(medium) {
    background-position: -200px bottom;
  }

  @include bp(large) {
    padding: 16vh 0;
    background-position: 0 bottom;
  }

  
  
}

.header--title {
  margin: 3vh 0 1vh;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.7);
  @include font-size(30px);
}

.header--subTitle {
  margin: 0 0 1rem;
  color: #70454a;
  font-family: $robotoSlab;
  text-transform: lowercase;
  opacity: 0.7;
  @include font-size(26px);

  @include bp(medium) {
    color: #513640;
    @include font-size(50px);
  }
}

.header--logo img {
  width: 160px;
  height: 160px;
  opacity: 0.7;

  @include bp(large) {
    width: 200px;
    height: 200px;
  }
}