//
// NAVIGATION
//

.header--nav {
	// border-top: 1px solid #ddd;
	// border-bottom: 1px solid #ddd;
}

.header--nav--item {
	display: inline-block;
	padding: 1.5em 0.25rem 1em;
	font-family: $oswald;
	@include font-size(14px);
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;

	// &:after {
	// 	content: '/';
	// 	padding: 0 0.068rem 0 0.25rem;
	// }

	// &:last-child:after {
	// 	content: '';
	// }
}