//
// NAVIGATION
//

.nav {
	// border-top: 1px solid #ddd;
	// border-bottom: 1px solid #ddd;
}

.nav--item {
	display: inline-block;
	padding: 1.5rem 1.625rem;
	font-family: $oswald;
	@include font-size(15px);
	text-transform: uppercase;
	color: #222;
	transition: color 250ms;
}

.nav--item--icon {
	margin: 0 auto 1rem;
	transition: all 250ms ease-out;
}

.nav--item:hover .nav--item--icon {
	transform: rotate(35deg);
}