//
// NAVIGATION
//

.nav {
	position: absolute;
	top: 	1.5rem;
	right: 2rem;
}
.nav--item {
	display: inline-block;
	margin: 0 0 0 1.125rem;
	font-family: $fontHeader;
	font-weight: 300;
	@include font-size(14px);
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 0;
	color: $darkerGrey;

	&:hover {
		color: $orange;
	}
}

// .nav--item--icon {
// 	margin: 0 auto 1rem;
// 	transition: all 250ms ease-out;
// }

// .nav--item:hover .nav--item--icon {
// 	transform: rotate(35deg) translate(0, -0.375rem);
// }