<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="{{ page.title | downcase | remove:' ' | remove:'?' }}">

    {% include webpack.html %}

    <header id="nav" class="headerSubpage headerSubpage-transparent">

        <a href="{{ site.baseurl }}/" class="header--logo header--logo-subpage">
          {% include svg/logo.html %}
        </a>

        <nav class="nav">
          <a href="{{ site.baseurl }}/blog/" class="nav--item nav--item-blog">
            Blog
          </a>
          <a href="{{ site.baseurl }}/work/" class="nav--item nav--item-work">
            Work
          </a>
          <a href="{{ site.baseurl }}/about/" class="nav--item nav--item-about">
            About
          </a>
        </nav>

    </header>

    <div id="banner" class="banner"></div>

    <main id="main" role="main" class="main">
      <div class="container">
        <article class="post">
          <h1 class="post--title">{{ page.title }}</h1>
          <div class="post--date">
            Updated on December 21, 2019
          </div>
          {{ content }}
        </article>
    </main>


    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
