<!DOCTYPE html>
<html>
  {% include head.html %} 

  <body>
        
    <header class="headerSubpage clearfix">

        <a href="{{ site.baseurl }}/" class="header--logo header--logo-subpage">
          <!-- <img src="/images/logo-orange.svg" alt="Mitch Gavan" width="40" height="40" /> -->
          {% include svg/logo.html %} 
        </a>

        <!-- <nav class="nav">
          <a href="{{ site.baseurl }}/" class="nav--item">
            Blog
          </a>
          <a href="{{ site.baseurl }}/#" class="nav--item">
            Projects
          </a>
          <a href="{{ site.baseurl }}/#" class="nav--item">
            About
          </a>
        </nav> -->

    </header>  

    
    <main id="main" role="main" class="main">
      <div class="container">
        {{ content }}
      </div>  
    </main>

    
    {% include footer.html %}    

    {% include analytics.html %}
  </body>
</html>
