<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Merriweather:400,400italic,700|Oswald' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% include grunticon-loader.html %}
  </head>

  <body>
        
    <header class="header">
      <div class="header--content">

        <a href="{{ site.baseurl }}/" class="header--logo">
          <img src="/images/logo.svg" alt="Mitch Gavan" width="160" height="160" />
        </a>
        <h1 class="header--title">{{ site.name }}</h1>
        <h2 class="header--subTitle">
          Front-end developer
        </h2>
        
        <nav class="nav">
          <a href="{{ site.baseurl }}/" class="nav--item">
            <div class="icon-slurpee nav--item--icon" style="width: 29px; height: 51px;"></div>
            Blog
          </a>
          <a href="{{ site.baseurl }}/about" class="nav--item">
            <div class="icon-coffee nav--item--icon" style="width: 33px; height: 42px;"></div>
            Work
          </a>
          <a href="mailto:mitchgavan@gmail.com" class="nav--item">
            <div class="icon-drink nav--item--icon" style="width: 30px; height: 38px;"></div>
            About
          </a>
        </nav>

      </div>
    </header>  

    
      
      


    <div id="main" role="main" class="main">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
