<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans:400,300,600|Merriweather:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% include grunticon-loader.html %}
  </head>

  <body>
        
    <header class="header">
      <div class="container">

        <a href="{{ site.baseurl }}/" class="header--logo">
          <img src="/images/logo-orange.svg" alt="Mitch Gavan" width="200" height="200" />
        </a>
        <h1 class="header--title">{{ site.name }}</h1>
        <h2 class="header--subTitle">
          Front-end developer
        </h2>
        <!-- <nav class="nav">
          <a href="{{ site.baseurl }}/" class="nav--item">
            <div class="icon-slurpee nav--item--icon"></div>
            Blog
          </a>
          <a href="{{ site.baseurl }}/#" class="nav--item">
            <div class="icon-coffee nav--item--icon"></div>
            Work
          </a>
          <a href="{{ site.baseurl }}/#" class="nav--item">
            <div class="icon-drink nav--item--icon"></div>
            About
          </a>
        </nav> -->

      </div>
    </header>  

    
    <main id="main" role="main" class="main">
      <div class="container">
        {{ content }}
      </div>  
    </div>

    
    <footer class="footer">
      <div class="container">
        <ul class="socialNav">
          <li>
            <a href="mailto:{{ site.footer-links.email }}" title="Email Me">
              <div class="icon-social icon-email"></div>  
            </a>
          </li>
          <li>
            <a href="http://twitter.com/{{ site.footer-links.twitter }}" title="Twitter" target="_blank">
              <div class="icon-social icon-twitter"></div>  
            </a>
          </li>
          <li>
            <a href="http://instagram.com/{{ site.footer-links.instagram }}" title="Instagram" target="_blank">
              <div class="icon-social icon-instagram"></div>  
            </a>
          </li>
        </ul>
        © Mitch Gavan 2015
      </div>  
    </footer>

    {% include analytics.html %}
  </body>
</html>
