<!DOCTYPE html>
<html>
  {% include head.html %} 

  <body>
        
    <header class="header">

      <div class="container">

        <a href="{{ site.baseurl }}/" class="header--logo">
          <img src="/images/logo-orange.svg" alt="Mitch Gavan" width="200" height="200" />
        </a>
        <h1 class="header--title">{{ site.name }}</h1>
        <h2 class="header--subTitle">
          Front-end developer
        </h2>
      
      </div>
    </header>  

    
    <main id="main" role="main" class="main">
      <div class="container">

        <nav class="iconNav">
          <a href="/#" class="iconNav--item">
            <div class="icon-coffee nav--item--icon"></div>
            Work
          </a>
          <a href="/" class="iconNav--item">
            <div class="icon-slurpee nav--item--icon"></div>
            Blog
          </a>
          <a href="/#" class="iconNav--item">
            <div class="icon-drink nav--item--icon"></div>
            About
          </a>
        </nav>


        {{ content }}
      </div>  
    </main>

    
    {% include footer.html %}    

    {% include analytics.html %}
  </body>
</html>
