<!DOCTYPE html>
<html>
  {% include head.html %} 
  <body>
        
    <header class="header">
      <div class="header--container">
        <div class="header--logo">
          <!-- <img src="/images/logo-orange.svg" alt="Mitch Gavan" width="200" height="200" /> -->
          {% include svg/logo.html %} 
        </div>
        <h1 class="header--title">{{ site.name }}</h1>
        <h2 class="header--subTitle">Front-end developer/designer</h2>
      </div>
    </header>  

    <nav class="iconNav">
      <ul>
        <li>
          <a href="{{ site.baseurl }}/work" class="iconNav--item">
            <div class="icon-coffee iconNav--item--icon"></div>
            Work
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/blog" class="iconNav--item">
            <div class="icon-slurpee iconNav--item--icon"></div>
            Blog
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/Where-do-I-begin/" class="iconNav--item">
            <div class="icon-drink iconNav--item--icon"></div>
            About
          </a>
        </li> 
      </ul>
    </nav>
    
    <main id="main" role="main" class="main">
      <div class="container">
        {{ content }}
      </div>  
    </main>
    
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
